# Model creation on San Francisco Crime Data

To give an introduction this is the second notebook on the model deployment process that I will try to achieve . We initially did some data exploration to remove outliers and used Vaex library to process data and save the processed data in  parquet file format for further usage. <a href="https://github.com/ankur26/SFCrimePrediction/blob/master/notebooks/01_data_exploration_and_feature_engineering.ipynb">Link to first notebook </a>

This notebook will entail the model creation process and we will save the best fitted model into a pickle file to be used for deployment.

To save further time on this process to find a reasonable fitting model we will be using an AutoML library to fit the data which will give us a good enough model to deploy. The library we will be using is TPOT 
<a href ="https://epistasislab.github.io/tpot/">Link</a>

In [1]:
import pandas as pd
import numpy as np

In [3]:
train_data = pd.read_parquet("~\\Documents\\GitHub\\SFCrimePrediction\\data\\processed\\train_processed.parquet")
test_data = pd.read_parquet("~\\Documents\\GitHub\\SFCrimePrediction\\data\\processed\\test_processed.parquet")

In [4]:
train_data.head()

,DayOfWeek,PdDistrict,Address,X,Y,index
0,Wednesday,NORTHERN,OAK ST / LAGUNA ST,-122.425892,37.774599,0
1,Wednesday,NORTHERN,OAK ST / LAGUNA ST,-122.425892,37.774599,1
2,Wednesday,NORTHERN,VANNESS AV / GREENWICH ST,-122.424363,37.800414,2
3,Wednesday,NORTHERN,1500 Block of LOMBARD ST,-122.426995,37.800873,3
4,Wednesday,PARK,100 Block of BRODERICK ST,-122.438738,37.771541,4